label {
    display: block;
    margin-bottom: 5px;
    font-weight: bolder;
    font-size: larger;
}   
label:first-of-type::before {
    content: "🧑‍🏫 ";
    font-weight: normal;


}  
label:nth-of-type(2)::before {
    content: "📧 ";
    font-weight: normal;
}
button {
    padding: 10px 20px;
    background-color: #d8b471;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px ;
}